CMakeFiles/
[Bb]in/
[Oo]bj/
[Ll]og/
build/
CMakeFiles/
CMakeCache.txt
*.cmake
dna.txt
compile_commands.json
ospgl
ospgl.exe
/bin
/lib
Makefile 
ospm
ospm.exe
*.exe
*.dll
*.so
/cmake-build-debug/
/cmake-build-release/
.cache/
*.userprefs
.vimrc
.clangd
.kdev4/
*.kdev4
.vscode/
*.vscode
.idea
*.idea/
/workdir/
antiguo/
